@-moz-document url(about:blank),
url(about:newtab),
url(about:home) {
    html:not(#ublock0-epicker),
    html:not(#ublock0-epicker) body,
    #newtab-customize-overlay {
        background: #1a1a1a !important;
    }
}


@-moz-document domain(xor.pw) {

    #v1{
        color: #b9b9b9 !important;
        background: firebrick !important;
    }
    #v2{
        color: #b9b9b9 !important;
        background: firebrick !important;
    }
    #v3{
        color: #b9b9b9 !important;
        background: firebrick !important;
    }

}
@-moz-document domain(rapidtables.com) {

    #hex{
        color: #b9b9b9 !important;
        background: firebrick !important;
    
    }
    .outtext{
        color: #fff !important;
        background: #020202 !important;
    
    }
    body{
        color: #fff !important;
        background: #020202 !important;
    
    }
}

